@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bungee&family=Federant&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Supermercado+One&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

main {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.content {
  padding: 20px;
}
main h1 {
  font-family: "Supermercado One", sans-serif;
  color: #fff;
  font-size: 72px;
  border-radius: 8px;
}
main h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 36px;
  border-radius: 8px;
}

main p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: rgb(0, 13, 69);
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  max-width: 600px;
}

main ul {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: rgb(0, 13, 69);
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  max-width: 600px;
}
main p a,
main ul a {
  color: #1b63ff;
  font-weight: bold;
}
